# Binding Functions to Classes as Methods Directly
## Two Brief Pandas Examples

Johnny Lichtenstein 2020-04-19<p>
Python allows for methods to be defined anyplace. And they can be attached to classes iwth a simple assignment. [Igor Sobreira](http://igorsobreira.com/2011/02/06/adding-methods-dynamically-in-python.html) discusses how to use Python method magic. Here. we'll show an eample of how this can be usefull and at the same time, remedy my two pet peeves about Pandas. <p>
Giving a new method to a class is as simple as defining a function that takes self as its first argument, and assigning it to the class. Its as simple as below<p>
def myMethod(self):<p>
  ...<p>
existingClass.myMethod = myMethod 

The Sobreira piece provides more detail and (at least) two examples can be found in the [git](https://github.com/johnlichtenstein/xiongmao) for xiongmao, the package that holds the functions we discuss below. <p>
[Pandas](https://pandas.pydata.org/) is the main data manipulation and analysis package Python. If you are doing stats or data science, Pandas makes learning Python worthwhile. If you are working with data in Python, it's crazy not to use Pandas. <p>
Using Pandas every day, there are two things that trip me up:
- The crosstab function is a general function that takes two series. The two series will in practice always come from the same DataFrame, so that DataFrame name and any filtering done on it has to be typed twice. The xtab method, bound to the DataFrame class, simplifies this. 
- Some DataFrame methods return a Series instead of a DataDrame, which disrupts the typical Pandas DataFrame.method().method() pipeline. The todf method, bound to Series, simplifies this. <p>

Notebook also in [colab](https://colab.research.google.com/drive/1nKgw0xhNCUvMCZdNHaPklpdAlyqwdK51?usp=sharing)
    
To start, first install and import xiongmao.

In [1]:
# !pip install xiongmao # assumed
import pandas as pd
import xiongmao

### Build Example DataFrame from Dictionary

In [2]:
# make a df to work with
exampleD = {"sv": "a a a a a b b b b b".split() \
            , "x": [1, 2, 3, 2, 3, 4, 4, 5, 6, 1]}

exampleR = pd.DataFrame(exampleD) # cast as df
exampleR.head(4)

  sv  x
0  a  1
1  a  2
2  a  3
3  a  2

<a id="xt"></a>
### Running a Crosstab
First using the Pandas crosstab function. We'll put in a filter for x < 6 to give a reminder that the whole DataFrame.method.method pipeline needs to be duplicated.

In [3]:
pd.crosstab(exampleR.query("x < 6").x, exampleR.query("x < 6").sv)

sv  a  b
x
1   1  1
2   2  0
3   2  0
4   0  2
5   0  1

### Same crosstab and filter run wih the bound xTab method
Here it's a little shorter and neater, but can me *much* neeater and simpler.

In [4]:
exampleR.query("x < 6").xTab("x", "sv")

sv  a  b
x
1   1  1
2   2  0
3   2  0
4   0  2
5   0  1

### Getting a DataFrame from a Series
One DataFrame method that returns a series is value_counts. First, let's look at casting the output of value_counts as a DataFrame using the constructor.

In [6]:
pd.DataFrame(exampleR.sv.value_counts())

   sv
b   5
a   5

### Using the Bound Method todf
Using a bound method todf below allows for more typical Pandas style.

In [7]:
exampleR.sv.value_counts().todf()

   sv
b   5
a   5

#### Using nameL Argument
The todf method has a nameL option to give the option to rename.

In [8]:
exampleR.sv.value_counts().todf(nameL=["sv_freq"])

   sv_freq
b        5
a        5